DEBUG=True
SECRET_KEY=django-insecure-change-me
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000
DATABASE_URL=sqlite:///db.sqlite3
RESTAURANT_WHATSAPP=5511999999999
DELIVERY_ETA_MULTIPLIER=2.2
DELIVERY_ETA_BUFFER_MINUTES=3
DELIVERY_ETA_SHORT_TRIP_KM=6
DELIVERY_ETA_SHORT_TRIP_PENALTY_MINUTES=1
GOOGLE_MAPS_API_KEY=
GOOGLE_MAPS_LANGUAGE=pt-BR
GOOGLE_MAPS_REGION=BR
