{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PRATO-DELIVERY{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <link rel="apple-touch-icon" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="page-shell">
        {% block content %}{% endblock %}
    </div>
    <script>
        window.PRATO_CONFIG = {
            cartKey: "prato_delivery_cart",
            orderHistoryKey: "prato_delivery_orders",
            checkoutUrl: "{% url 'pedidos:carrinho' %}",
            orderLookupUrl: "{% url 'pedidos:api_meus_pedidos' %}",
            myOrdersUrl: "{% url 'pedidos:meus_pedidos' %}",
            deliveryEtaUrl: "{% url 'pedidos:api_address_delivery_time' %}",
            couponValidateUrl: "{% url 'pedidos:api_validar_cupom' %}",
            metricEventUrl: "{% url 'pedidos:api_metric_event' %}",
            csrfToken: "{{ csrf_token }}",
            staticUrl: "{% get_static_prefix %}",
            googleMapsApiKey: "{{ PRATO_FRONTEND_CONFIG.google_maps_api_key|escapejs }}",
            googleMapsLanguage: "{{ PRATO_FRONTEND_CONFIG.google_maps_language|escapejs }}",
            googleMapsRegion: "{{ PRATO_FRONTEND_CONFIG.google_maps_region|escapejs }}",
            checkoutMapProvider: "{{ PRATO_FRONTEND_CONFIG.checkout_map_provider|escapejs }}",
            cartCycleKey: "{{ PRATO_FRONTEND_CONFIG.cart_cycle_key|escapejs }}",
            cartExpiresAt: "{{ PRATO_FRONTEND_CONFIG.cart_expires_at|escapejs }}",
            serverNow: "{{ PRATO_FRONTEND_CONFIG.server_now|escapejs }}"
        };
    </script>
    <script src="{% static 'js/access_metrics.js' %}?v={% now 'U' %}"></script>
    <script src="{% static 'js/cart.js' %}?v={% now 'U' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
